**0.0.9 Web Data Mining**

In [ ]:
from bs4 import BeautifulSoup
import requests
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [ ]:
webpage = requests.get("https://www.lenskart.com/eyeglasses/promotions.html?utm_source=google&utm_medium=cpc&utm_campaign=Google-MainAcc-LK-HomeBrand-Search-150119&utm_content=lenskart_exact&utm_source=google&utm_medium=cpc&utm_campaign=Google-MainAcc-LK-HomeBrand-Search-150119&utm_channel=search&gclid=CjwKCAiA9qKbBhAzEiwAS4yeDX2FRfFzYJw2VwFqXEF0c1dbaYQA2sAPTOVYoGTJS--MwAsfxDGQVxoCh_8QAvD_BwE")

In [ ]:
webpage

In [ ]:
soup = BeautifulSoup(webpage.content,"html.parser")

In [ ]:
ProductSoup = soup.find_all("div",class_="product-name")
pricesoup = soup.find_all("span",class_="text-color-dark-blue fw700")
ratingsoup = soup.find_all("span", class_="rating-value")

In [ ]:
ProductSoup

[<div class="product-name">Aqualens</div>,
 <div class="product-name">Aqualens</div>,
 <div class="product-name">John Jacobs</div>,
 <div class="product-name">Vincent Chase</div>,
 <div class="product-name">Vincent Chase</div>,
 <div class="product-name">Lenskart Air</div>,
 <div class="product-name">Lenskart Air</div>,
 <div class="product-name">John Jacobs</div>,
 <div class="product-name">Aqualens</div>]

In [ ]:
lens_names = []
for i in range(0, len(ProductSoup)):
  lens_names.append(ProductSoup[i].get_text())

In [ ]:
lens_names

['Aqualens',
 'Aqualens',
 'John Jacobs',
 'Vincent Chase',
 'Vincent Chase',
 'Lenskart Air',
 'Lenskart Air',
 'John Jacobs',
 'Aqualens']

In [ ]:
pricesoup

[<span class="text-color-dark-blue fw700"><span>₹</span>240</span>,
 <span class="text-color-dark-blue fw700"><span>₹</span>123</span>,
 <span class="text-color-dark-blue fw700"><span>₹</span>3000</span>,
 <span class="text-color-dark-blue fw700"><span>₹</span>1199</span>,
 <span class="text-color-dark-blue fw700"><span>₹</span>1199</span>,
 <span class="text-color-dark-blue fw700"><span>₹</span>1199</span>,
 <span class="text-color-dark-blue fw700"><span>₹</span>1199</span>,
 <span class="text-color-dark-blue fw700"><span>₹</span>3000</span>,
 <span class="text-color-dark-blue fw700"><span>₹</span>440</span>]

In [ ]:
lens_prices = []
for i in range(0, len(pricesoup)):
  lens_prices.append(pricesoup[i].get_text())

In [ ]:
lens_prices

['₹240', '₹123', '₹3000', '₹1199', '₹1199', '₹1199', '₹1199', '₹3000', '₹440']

In [ ]:
lens_ratings = []
for i in range(0, len(ratingsoup)):
  lens_ratings.append(ratingsoup[i].get_text())

In [ ]:
lens_ratings

['4.8', '4.8', '4.4', '4.6', '4.6', '4.6', '4.6', '4.4', '4.7']

In [ ]:
print(len(lens_names), len(lens_prices), len(lens_ratings))

9 9 9

In [ ]:
import pandas as pd

In [ ]:
final = pd.DataFrame({"Product_name":lens_names,"Price":lens_prices,"Ratings":lens_ratings})

In [ ]:
final

    Product_name  Price Ratings
0       Aqualens   ₹240     4.8
1       Aqualens   ₹123     4.8
2    John Jacobs  ₹3000     4.4
3  Vincent Chase  ₹1199     4.6
4  Vincent Chase  ₹1199     4.6
5   Lenskart Air  ₹1199     4.6
6   Lenskart Air  ₹1199     4.6
7    John Jacobs  ₹3000     4.4
8       Aqualens   ₹440     4.7

In [ ]:
final.to_csv('product.csv',index=False)

**RESULT**: The program is executed successfully and output is obtained